<app>

  <header>
    <h1>Product Store</h1>
    <nav>
      <ul>
        <li><a href="#products">All Products</a></li>
        <li><a href='#add'>New Product</a></li>
        <li><a href='#' onclick={reset}>Reset</a></li>
      </ul>
    </nav>
  </header>
    
  <div id="mainview"></div>

  <footer>
  </footer>

  <script type="es6">

    import actions from 'actions/AppActions';

    this._currentView = null;

    loadView = (viewName, id) => {
      if (this._currentView) {
        this._currentView.unmount(true);
      };
      this._currentView = riot.mountTo('div#mainview', viewName, {data: id})[0];
    };

    studyRoute = (view, id) => {
      switch(view) {
        case 'detail':
          loadView('product-detail-view', id);
          break;
        case 'products':
          loadView('productListView');
          break;
        case 'add':
          loadView('productAddView');
          break;
        default:
          loadView('productListView');
      }
    };

    riot.route(studyRoute);

    this.on('mount', () => {
      riot.route.exec(studyRoute);
    });

    this.reset = () => {
      actions.clearAllProducts();
    };

  </script>

</app>
