<app>

  <header>
    <h1>Product Store</h1>
    <nav>
      <ul>
        <li><a href="#products">All Products</a></li>
        <li><a href='#add'>New Product</a></li>
        <li><a href='#' onclick={reset}>Reset</a></li>
      </ul>
    </nav>
  </header>
    
  <div id="mainview"></div>

  <footer>
  </footer>

  <script type="es6">

    import actions from 'actions/AppActions';

    import routes from 'routes';

    this.on('mount', () => {
      routes.router.init();
    });

    this.reset = () => {
      actions.clearAllProducts();
    };

  </script>

</app>
